@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKr-Black.eot"); /* ie 호환성 보기 고려 */
  src: url("../fonts/NotoSansKr-Black.eot?#iefix") formet("embedded-opentype"), /* only IE8 below */
       url("../fonts/NotoSansKr-Black.woff2"), /* web open font format Lightweight */
       url("../fonts/NotoSansKr-Black.woff"), /* web open font format */
       url("../fonts/NotoSansKr-Black.ttf"), /* true type format (컴퓨터 서체 파일) */
       url("../fonts/NotoSansKr-Black.otf"); /* open type format (컴퓨터 서체 파일) */
       /* url("../fonts/NotoSansKr-Black.svg"),  scalable vector graphic */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
li,
dl {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #262626;
  font-size: 14px;
}
strong,
b {
  font-weight: 600;
}

/* Accessibility */
.blind {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
caption.blind {
  display: absolute;
  position: static;
  height: 1px;
  margin-bottom: -1px;
}

/* clear fix */
.clear-fix {
  *zoom: 1;
}
.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}
