body {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  font-size: 1rem;
}
.js-clock {
  color: white;
  font-size: 3rem;
}

.form,
.js-gretting {
  display: none;
}

.show {
  display: block;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: auto;
}
